@model GrantDataInfo
@{
    ViewData["Title"] = "Grant Paging List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/utils/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/utils/jquery.dataTables.min.js"></script>
    <script src="~/utils/dataTables.bootstrap4.min.js"></script>
    <script>$(document).ready(function () {
            $('#hrList').DataTable({
                paging: false,
                "searching": false,
                "info": false
            });
        });</script>
}
<h1 class="h3 mb-2 text-gray-800">@ViewData["Title"]</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Grant" asp-action="Index">HR List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Grant" asp-action="Ajax">HR Ajax List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active">HR Paging List</a>
    </li>
</ul>
<p class="mb-4" style="margin-top:20px">
    Output List
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bod text">HRList</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive table-striped" style="overflow-x:hidden">
            <div id="hrList_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <form method="post" asp-controller="Grant" asp-action="List" onsubmit="btnSearch.diable = true; return true;">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div id="hrList_length" class="dataTables_length">
                                <label>Show
                                    <select asp-for="PagingInfo.ItemsPerPage" aria-controls="hrList" class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="7" selected="selected">7</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                entries
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="hrList_filter" class="dataTables_filter">
                                <label>Name:
                                    <input type="search" asp-for="PagingInfo.SearchKeyword" class="form-control form-control-sm" placeholder="Name" aria-controls="hrList" autofocus autocomplete="off"/>
                                    <button type="submit" name="btnSearch" class="btn btn-sm btn-primary">Search</button>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="hrList" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="text-center bg-warning">
                                            ID
                                        </th>
                                        <th class="text-center bg-warning">
                                            Name
                                        </th>
                                        <th class="text-center bg-warning">
                                            Email
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Users == null || Model.Users.Count < 1)
                                    {


                                        <tr>
                                            <td colspan="7">
                                                @if (!string.IsNullOrWhiteSpace(Model.PagingInfo.SearchKeyword))
                                                {
                                                    @:NotFounded
                                                }
                                                else
                                                {
                                                    @:Empty
                                                }
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var item in Model.Users)
                                        {
                                            <tr>
                                                <td>@item.UserID</td>
                                                <td>@item.UserName</td>
                                                <td>@item.UserEmail</td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="text-center bg-warning">
                                            ID
                                        </th>
                                        <th class="text-center bg-warning">
                                            Name
                                        </th>
                                        <th class="text-center bg-warning">
                                            Email
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div id="hrList_info" class="dataTables_info" role="status" aria-live="polite">
                                @if (Model.Users != null && Model.Users.Count > 0)
                                {
                                    @:Showing @Model.PagingInfo.FirstItem to @Model.PagingInfo.LastItem of @Model.PagingInfo.TotalItems entries
                                    @if (!string.IsNullOrWhiteSpace(Model.PagingInfo.SearchKeyword))
                                    {
                                            @:(filtered from @Model.PagingInfo.TotalEntries total entries)
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="hrList_paginate" class="dataTables_paginate paging_full_numbers">
                                <input type="hidden" asp-for="PagingInfo.CurrentPage" />
                                <ul class="pagination" page-model="@Model.PagingInfo"
                                    page-controller="Grant" page-action="List"
                                    page-classes-enabled="true"
                                    page-class="paginate_button page-item"
                                    page-a-class="page-link"
                                    page-class-normal=""
                                    page-class-selected="active">
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>